name: MLOps CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Train Model
        run: python mlflow_train.py

      - name: Deploy Model
        run: python session3/train.py

      - name: Build Docker Image
        run: docker build -t iris_rf_model session3
      
      - name: Save Docker image
        run: docker save -o iris_rf_model.tar iris_rf_model            

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: iris_artifact
          path: iris_rf_model.tar
      
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: iris_artifact
          path: /opt/iris_rf_model.tar